@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff') 
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff') format('woff') 
  }
  @font-face {
    font-family: 'Wisdom';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Wisdom.woff') format('woff') 
  }
  @font-face {
    font-family: 'DroidSerif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DroidSerif.ttf') format('ttf') 
  }
  @font-face {
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Regular.woff') format('woff') 
  }