@import 'fonts.css';
@import 'normalize.css';
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
a {

    text-decoration: none;
    list-style-type: none;
    border: none;
    background-color: transparent;
}
.sign-up, .logo, .main-header, .btn, .partner-name, .partners-header{
    font-family: 'Montserrat-bold', Arial, sans-serif;
}
.partner-discription, .main-discription {
    font-family: 'Roboto-light', Arial, sans-serif;
}
a, .main-header, .main-discription, .btn-find-partner  {
    color: white;
}
.sign-up {
    margin-bottom: 120px;
}
.sign-up > li {
    display: inline-block;
    padding: 10px 15px;
}
.header {
    margin-bottom: 40px;
}
.wrapper {
    text-align: center;
    padding: 20px 20px 55px;
}
.logo {
    font-size: 1.25em;
    text-transform: uppercase;
}
.wrapper-bg {
    min-height: 540px;
    background-image: url(../img/Bg-image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(3, 3, 3);
    background-blend-mode: lighten;
}

.partners-header,
.partner-name,
.img-holder,
.main-header,
.partners-box
{
    margin-bottom: 20px;
}

.sign-up > li:last-child {
    border: 2px solid white;
    border-radius: 25px;
}
.wrapper:nth-child(2) {
    padding-top: 75px;
}

.main-discription {
    font-size: 1.28em;
}
.main-header {
    font-size: 2.14em;
    text-transform: uppercase;
}
.partners-header {
    font-size: 1.57em;
}
.btn {
    padding: 15px 50px;
    border-radius: 25px;
}
.btn-find-partner {
    background-color: #ff4e50;
    margin-top: 40px;
}
.btn-other-partners {
    border: 2px solid #ff4e50;
    color: #ff4e50;
}
.img-holder {
    position: relative;
    display: inline-block;
}
.partners-box {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
.icon {
    height: 40px;
    width: 40px;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}
.tv {
    background: #ff4e50 url(../img/icon-tv.png) no-repeat center center;
}
.flask {
    background: #ffa507 url(../img/icon-flask.png) no-repeat center center;
}
.coffee {
    background: #1cd7ad url(../img/icon-coffee.png) no-repeat center center;
}
.telegram {
    background: #4e73db url(../img/icon-plane.png) no-repeat center center;
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 120px;
    }
    .sign-up {
        margin-bottom: 0;
    }
    .partners {
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
        width: 60%;
        margin: auto;
    }
    .partners-box {
        flex-basis: 43.4%;
    }
    .main {
        width: 60%;
        margin: auto;
    }
    .main-header {
        font-size: 3.71em;
    }
    .main-discription {
        font-size: 1.71em ;
    }
    .wrapper {  
        padding: 40px 50px;
    }
}

@media all and (min-width: 1440px) {
    .partners {
        width: 80%;
    }
    .partners-box {
        flex-basis: 20%;
    }
    .wrapper {  
        padding: 50px 250px;
        min-height: 700px;
    }
    .main {
        width: 50%;
        margin: auto;
    }
}

  