* {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
}

.wrapper {
    height: 100%;
    width: 1200px;
    margin: auto;
    padding: 15px 0;
}

.main {
    padding: 90px 0;
}

ul,
p,
h1,
h2,
h3,
h5,
a,
figure {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.header a {
    transition: .2s linear;
    font-weight: bold;
    color: #95e1d3;
}

.logo a {
    font-size: 30px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000000;
}

.navigation .navigation-menu>a:hover {
    transition: .2s linear;
    color: #f38181;
    border-bottom: 2px solid #f38181;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.services-content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

p {
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.main-header {
    text-align: center;
    z-index: 100;
}

.main-header>h3 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.main-header>h1 {
    text-transform: uppercase;
    padding: 22px 0 0 0;
}

.main-header>p {
    width: 950px;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
}

.main-header>h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 45px auto;
}

.services-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-basis: 31%;
}

.service-content {
    flex-basis: 85%;
}

img {
    display: block;
    transition: .2s;
}

figure>.img-holder:hover {
    transform: translate(-15px, -15px);
    box-shadow: 15px 15px 1px #95e1d3;
    transition: .2s linear;
}

h5 {
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 15px;
}

.our-team-item {
    display: flex;
    justify-content: space-between;
}

figure {
    display: flex;
    flex-direction: column;

}

figcaption {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}

.img-holder {
    position: relative;
    width: 380px;
    height: 470px;
    transition: .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(212, 209, 209);
}

.main {
    flex-grow: 1;
}

.img-holder>img {
    position: absolute;
}

.icon {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    color: #f38181;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    transition: .2s linear;
    cursor: pointer;
}

.icon>i {
    font-size: 33px;
    line-height: inherit;
}

.icon:hover {
    transition: .2s linear;
    background-color: #95e1d3;
}

.img-holder:hover::after {
    opacity: 0.7;
    transition: .2s linear;
}

.img-holder:hover .icon {
    z-index: 100;
}

.img-holder::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(252, 227, 138), rgb(243, 129, 129));
}

.template-author {
    color: #f38181;
}

input {
    height: 35px;
    line-height: 33px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid rgb(223, 218, 218);
}

.subscribe {
    display: flex;
    flex-basis: 30%;
}

.subscribe-item {
    height: inherit;
    color: white;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    background-color: #95e1d3;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .2s linear;
}
.subscribe-item:hover {
    color: #f38181;
    transition: .2s linear;
}