body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
}

article {
    display: inline-block;
    width: 1200px;
    height: 2000px;
}
.main {
    width: 930px;
    margin: auto;
}
ul {
    list-style-type: none;
    margin-top: 60px;
}
ul li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 70px;
}
h1 {
    font-size: 30px;
    white-space: nowrap;
}
.content {
    width: 400px;
    height: 475px;
    display: inline-block;
    text-align: left;
    margin: 60px 60px 70px 0;
}
p {
    text-align: justify;
}
ul li:nth-child(1) {
    color: aqua;
}
div {
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    margin: auto;
}
