@import 'variables';
.wrapper-bg {
  position: relative;
  padding-bottom: 130px;
  @include background($gradient, '../img/Eagle.png');
}

.header {
  margin-bottom: 175px;
  @extend %flex-base;
  .logo {
    padding: 10px 0;
    @extend %font-mont-bold;
    font-size: 30px;
    color: $header-text-color
  }
  .navigation {
    @extend %flex-base;
    &_item {
      margin-left: 50px;
      padding: 10px 0;
    }
    &_link {
      color: $header-text-color;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 0;
      @extend %transition;
      &:hover,
        {
        color: $yellow-color;
        border-bottom: 3px solid $yellow-color;
        @extend %transition;
      }
      &:hover .svg-icon-head {
        fill: $yellow-color;
        @extend %transition;
        transform: scale(1.4);
      }
    }
    .svg-icon-head {
      fill: $header-text-color;
    }
  }
}

.main-head {
  display: inline-block;
  &_top {
    @extend %font-Kaushan;
    font-size: 72px;
    color: $header-text-color;
    margin-bottom: 50px;
  }
  &_bottom {
    @extend %font-mont-bold;
    font-size: 150px;
    color: $header-text-color;
    margin-bottom: 130px;
    text-transform: uppercase;
  }
  &_btn {
    padding: 15px 30px;
    border: 2px solid $header-text-color;
    @extend %font-mont-bold;
    color: $header-text-color;
    border: 3px solid $header-text-color;
    cursor: pointer;
    text-transform: uppercase;
    @extend %transition;
    &:hover {
      border-color: $pink-color;
      color: $pink-color;
      @extend %transition;
      transform: scale(1.2);
    }
  }
}
