$yellow-color: #fce38a;
$main-content-color: #95e1d3;
$header-text-color: #fff;
$services-text-color: #000;
$pink-color: #f38181;
$main-padding: 30px 0 15px;
$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(248, 142, 130, 0.9));
$discription-color: #b3b3b3;


