* {
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* Обертка */
.wrapper {
    width: 1110px;
    margin: auto;
    padding: 20px 0;
}

/* NAVIGATION CSS ^ */

.logo {
    display: inline-block;
    font-size: 30px;
}

.logo::first-letter {
    color: #4dc7ad;
}

ul {
    margin: 0;
    list-style: none;
    float: right;
}

a {
    color: black;
}

ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

ul li>a:hover {
    color: #4dc7ad;
}

/* FEATURE PRODUCTS    CSS */

.featured-products {
    min-height: 950px;
    padding-top: 100px;
}

.section-header {
    text-align: center;
    padding: 40px;
    font-size: 48px;
    font-weight: bold;
}

.section-header::after {
    content: "";
    display: block;
    margin: 15px auto 0 auto;
    height: 10px;
    width: 240px;
    background-color: #4dc7ad;
}

.products-container {
    width: 276px;
    float: left;
    padding: 15px;
}

img {
    max-width: 100%;
}

.products-name,
.products-price {
    color: white;
    padding: 5px 15px;
    margin-top: -4px;
    transition: .5s linear;
}

.products-name {
    display: inline-block;
    width: 70%;
    background-color: black;
}

.products-price {
    display: inline-block;
    width: 30%;
    margin-left: -4px;
    background-color: grey;
    text-align: center;
}

/* BLOG CSS */

.section-blog {
    width: 350px;
    height: 500px;
    float: left;
    margin: 0 10px 0 10px;
}

h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 120px;
    background-color: #4dc7ad;
    margin: 5px 0 5px 0;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: #4dc7ad;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

.latest-news {
    padding-top: 30px;
}

.products-container:hover .products-name {
    background: #4dc7ad;
    transition: .5s linear;
}

.products-container:hover .products-price {
    background: #6ef7d9;
    transition: .5s linear;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
