* {
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* Обнуляем стили, ненужные отступы*/
h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
}

/* Главная центровая обертка */
.wrapper {
    padding: 30px 0;
    width: 1110px;
    margin: auto;
}

/* Секция Навигации ^ */

.logo {
    float: left;
    font-size: 30px;
}

.logo::first-letter {
    color: #4dc7ad;
}

.navigation {
    float: right;
    padding-top: 10px;
}

.navigation-item {
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    
}

.navigation-item > a:hover {
    color: #4dc7ad;
}

/* Секция с товарами    CSS */

.featured-products {
    min-height: 950px;
    padding-top: 100px;
}

.main-header {
    text-align: center;
    padding: 50px;
    font-size: 48px;
    font-weight: bold;

}

.main-header:after {
    content: "";
    display: block;
    margin: 15px auto 0 auto;
    height: 10px;
    width: 240px;
    background-color: #4dc7ad;
}

.products-container {
    width: 276px;
    float: left;
    padding: 0 15px 35px 0;
}

.products-container:nth-child(4n+5) {
    padding-right: 0;
}

img {
    width: 100%;
}

.products-name,
.products-price {
    color: white;
    padding: 5px 15px;
    margin-top: -4px;
    transition: .5s linear;
}

.products-name {
    display: inline-block;
    width: 70%;
    background-color: black;
}

.products-price {
    display: inline-block;
    width: 30%;
    margin-left: -4px;
    background-color: grey;
    text-align: center;
}

 /* Свойства наведения */
.products-container:hover .products-name {
    background: #4dc7ad;
    transition: .5s linear;
}

.products-container:hover .products-price {
    background: #6ef7d9;
    transition: .5s linear;
}

    /* Секция с блогом CSS */
.wrapper-latest-news-main {
    padding-top: 30px;
}

.wrapper-blog-item {
    width: 369px;
    min-height: 500px;
    float: left;
    padding: 0 15px 35px 0;
 }

 .wrapper-blog-item:nth-child(3) {
     padding-right: 0;
 }

.blog-header, p {
    padding: 10px 0;
}

.blog-header::after {
    content: "";
    display: block;
    height: 3px;
    width: 120px;
    background-color: #4dc7ad;
    margin: 5px 0 5px 0;
} 

.btn {   
    display: inline-block;
    padding: 15px 35px;
    background-color: #4dc7ad;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    margin-top: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
