* {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
                    /* NAVIGATION CSS ^ */
.wrapper {
    width: 1110px;
    margin: auto;
    padding-top: 20px;
}

.logo {
    display: inline-block;
    font-size: 30px;
}

.logo::first-letter {
    color: #4dc7ad;
}

ul {
    list-style: none;
    float: right;
}

ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

ul li > a:hover {
    color: #4dc7ad;
}
ul li:nth-child(1) {
    color: #4dc7ad;
}

                /* FEATURE PRODUCTS    CSS */
.featured-products {
    clear: both;
    height: 950px;
    width: 100%;
    padding-top: 100px;
}

.section-header {
    text-align: center;
    padding: 40px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h2:after {
    content: "";
    display: block;
    margin: 15px auto 0 auto;
    height: 10px;
    width: 240px;
    background-color: #4dc7ad;
}
.products {
    height: 320px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin: 13px 13px 13px 13px;
}

.name {
    width: 80%;
    float: left;
    background-color: black;
    color: white;
    padding: 5px 0 5px 15px;
}

.price {
    display: inline-block;
    width: 20%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
}

.product {
    margin-top: 295px;
    font-size: 18px;
    transition: .5s linear;
}

.block1 {background-image: url("../img/pic-8.png") }
.block2 {background-image: url("../img/pic-7.png") }
.block3 {background-image: url("../img/pic-6.png") }
.block4 {background-image: url("../img/pic-5.png") }
.block5 {background-image: url("../img/pic-4.png") }
.block6 {background-image: url("../img/pic-3.png") }
.block7 {background-image: url("../img/pic-2.png") }
.block8 {background-image: url("../img/pic-1.png") }

                    /* BLOG CSS */

.section-blog {
    width: 350px;
    height: 500px;
    float: left;
    margin: 0 10px 0 10px;
}

h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 120px;
    background-color: #4dc7ad;
    margin: 5px 0 5px 0;
}

.btn {
    display: inline-block;
    padding: 15px 35px 15px 35px;
    background-color: #4dc7ad;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}
.latest-news {
    padding-top: 30px;
}
.products:hover .name{
    background: #4dc7ad;
    transition: .5s linear;
}

.products:hover .price{
    background: #6ef7d9;
}
